<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <title>Profile</title>
    <script>
        function confirmDelete() {
            var confirmation = confirm("Êtes-vous sûr de vouloir supprimer ce compte ?");
            if (confirmation) {
                // Redirect to the supprimer route
                window.location.href = "{{ url_for('supprimer') }}";
            }
        }
    </script>
</head>
<body>
    <h1>Bienvenue, {{ user.nom }}</h1>
    <h2>Informations du compte</h2>
    <ul>
        <li>Type de compte : {{ user.BankAccountType }}</li>
        <li>Solde : {{ user.Balance }} MAD</li>
        <li>Email : {{ user.email }}</li>
    </ul>
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('logout') }}">Déconnexion</a>
    <a href="javascript:void(0);" onclick="confirmDelete()" style="background: red;color:white;border:1px solid white;">Supprimer ce compte</a>
</body>
</html>
